/* Media CSS */
@media (min-width: 768px) {
    /* Header */
    .header__logo h1{
        font-size: 1.25rem;
    }

    .header__menu-item {
        font-size: 1rem;
    }

    /* Hero */
    .hero {
        min-height: 50vh;
    }

    .hero__content {
        padding: 3em;
    }

    .hero__date {
        font-size: 1.25rem;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__description {
        font-size: 1.5rem;
    }

    /* Recent posts */
    .recent-posts .recent-posts__grid {
        grid-template-columns: repeat(3, 1fr);

    }

    /* About */
    .about .about__header {
        flex-direction: row;
        align-items: center;

    }

    .about .about__img {
        margin-right: 1em;
    }
}